/**
 * =============================================================================
 * ************   Snackbar   ************
 * =============================================================================
 */
.mdui-snackbar {
  position: fixed;
  z-index: 7000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 48px;
  padding: 0 24px 0 24px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  background-color: #323232;
  will-change: transform;
}
@media (min-width: 600px) {
  .mdui-snackbar {
    width: auto;
    min-width: 288px;
    max-width: 568px;
    border-radius: 2px;
  }
}
.mdui-snackbar-bottom,
.mdui-snackbar-top,
.mdui-snackbar-left-top,
.mdui-snackbar-left-bottom,
.mdui-snackbar-right-top,
.mdui-snackbar-right-bottom {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* 位置 */
.mdui-snackbar-bottom,
.mdui-snackbar-left-bottom,
.mdui-snackbar-right-bottom {
  bottom: 0;
}
.mdui-snackbar-top,
.mdui-snackbar-left-top,
.mdui-snackbar-right-top {
  top: 0;
}
.mdui-snackbar-top,
.mdui-snackbar-bottom {
  left: 50%;
}
@media (min-width: 600px) {
  .mdui-snackbar-left-top {
    top: 24px;
    left: 24px;
  }
  .mdui-snackbar-left-bottom {
    bottom: 24px;
    left: 24px;
  }
  .mdui-snackbar-right-top {
    top: 24px;
    right: 24px;
  }
  .mdui-snackbar-right-bottom {
    right: 24px;
    bottom: 24px;
  }
}
/* 文本 */
.mdui-snackbar-text {
  position: relative;
  max-width: 100%;
  padding: 14px 0 14px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 按钮 */
.mdui-snackbar-action {
  margin-right: -16px;
  white-space: nowrap;
  color: #FF80AB;
}
/**
 * =============================================================================
 * ************   Snackbar 强调色   ************
 * =============================================================================
 */
.mdui-theme-accent-amber .mdui-snackbar-action {
  color: #FFE57F;
}
.mdui-theme-accent-blue .mdui-snackbar-action {
  color: #82B1FF;
}
.mdui-theme-accent-cyan .mdui-snackbar-action {
  color: #84FFFF;
}
.mdui-theme-accent-deep-orange .mdui-snackbar-action {
  color: #FF9E80;
}
.mdui-theme-accent-deep-purple .mdui-snackbar-action {
  color: #B388FF;
}
.mdui-theme-accent-green .mdui-snackbar-action {
  color: #B9F6CA;
}
.mdui-theme-accent-indigo .mdui-snackbar-action {
  color: #8C9EFF;
}
.mdui-theme-accent-light-blue .mdui-snackbar-action {
  color: #80D8FF;
}
.mdui-theme-accent-light-green .mdui-snackbar-action {
  color: #CCFF90;
}
.mdui-theme-accent-lime .mdui-snackbar-action {
  color: #F4FF81;
}
.mdui-theme-accent-orange .mdui-snackbar-action {
  color: #FFD180;
}
.mdui-theme-accent-pink .mdui-snackbar-action {
  color: #FF80AB;
}
.mdui-theme-accent-purple .mdui-snackbar-action {
  color: #EA80FC;
}
.mdui-theme-accent-red .mdui-snackbar-action {
  color: #FF8A80;
}
.mdui-theme-accent-teal .mdui-snackbar-action {
  color: #A7FFEB;
}
.mdui-theme-accent-yellow .mdui-snackbar-action {
  color: #FFFF8D;
}
/**
 * =============================================================================
 * ************   Snackbar dark   ************
 * =============================================================================
 */
.mdui-theme-layout-dark .mdui-snackbar {
  background-color: #5d5d5d;
}
@media (prefers-color-scheme: dark) {
  .mdui-theme-layout-auto .mdui-snackbar {
    background-color: #5d5d5d;
  }
}